html,
body {
    background-color: #F9F9F9;

    margin: 0;
    padding: 0;

    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;

    background-color: #FFFFFF;
    width: auto;
    height: 56px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 56px;
    grid-template-areas: "menu search icons";
}

.container-menu {
    grid-area: "menu";

    display: grid;

    grid-template-columns: 43px 100px;
    grid-template-rows: 56px;

    place-items: center;
    justify-self: start;

    padding: 0px 24px 0px 24px;
}

.menu {
    display: grid;

    grid-template-columns: 43px;
    grid-template-rows: 24px;

    place-items: center start;
}

.youtube-logo {
    display: grid;

    grid-template-columns: 100px;
    grid-template-rows: 24px;

    place-items: center end;
}

.container-search {
    grid-area: "search";

    display: grid;

    grid-template-columns: auto;
    grid-template-rows: auto;

    place-items: center;
}

.container-icons {
    grid-area: "icons";

    display: grid;

    grid-template-columns: 40px 40px 40px;
    grid-template-rows: 56px;

    place-items: center end;
    justify-self: end;
    gap: 8px;

    padding: 0px 24px 0px 24px;
}

.avatar-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

main {

    display: grid;
    grid-template-areas: "aside main main main";

    grid-template-columns: 240px 1fr;
    height: 100%;
}

.container-homepage {
    display: grid;
    grid-area: "main";

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    padding: 16px;
    margin: 24px;
    margin-right: 0px;
}

.container-homepage a {
    width: 360px;
}

.video1,
.video2,
.video3,
.video4,
.video5,
.video6,
.video7,
.video8,
.video9,
.video10,
.video11,
.video12 {
    width: 360px;
}


aside {
    background-color: #FFFFFF;

    grid-area: "aside";
    grid-column-start: 1;
    grid-row-start: 1;
}

.container-options {
    position: sticky;
    top: 80px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10fr;
    gap: 22px;

    margin: 24px;
}